#nav-bar {
	margin:-20px -10px 0px -10px; 
}

#nav-bar li {
	display: inline;
	list-style-type: none;
	padding: 0px 40px 0px 40px;
	color: white;
	text-decoration:none;
	font-size: 20px;
}

#nav-bar ul {
	background: black;
	padding: 20px;
	text-align: center;
}

#text-box {
	background: blue;
	margin: -16px 650px 0 100px; 
	padding: 90px 25px 90px 25px;
	position: 
}
